@media only screen and (max-width: 1000px) {

    .buttonsCollection button { 
        width: 80px;
        height: 80px;
    }

    .container .calculatrice { 
        width: 60vw;
        height: 80vh;
    }

    .calculatrice .buttonsCollection { 
        width: 100%;
        height: 100%;
    }

    .numbers +  .operator { 
        width: 100%;
    }

    .buttonsCollection .numbers button#i0 { 
        position: absolute;
        top: 80vh;
        left: 21vw;
    }   
    
    .buttonsCollection .numbers button#i1 { 
        position: absolute;
        top: 66vh;
        left: 21vw;
    }   
    
    .buttonsCollection .numbers button#i2 { 
        position: absolute;
        top: 66vh;
        left: 38vw;
    }   
    
    .buttonsCollection .numbers button#i3 { 
        position: absolute;
        top: 66vh;
        left: 54vw; 
    }   
    
    .buttonsCollection .numbers button#i4 { 
        position: absolute;
        top: 50vh;
        left: 21vw;
    }   
    
    .buttonsCollection .numbers button#i5 { 
        position: absolute;
        top: 50vh;
        left: 38vw;
    }   
    
    .buttonsCollection .numbers button#i6 { 
        position: absolute;
        top: 50vh;
        left: 54vw;
    }   
    
    .buttonsCollection .numbers button#i7 { 
        position: absolute;
        top: 34vh;
        left: 21vw;
    }   
    
    .buttonsCollection .numbers button#i8 { 
        position: absolute;
        top: 34vh;
        left: 38vw;
    }   
    
    .buttonsCollection .numbers button#i9 { 
        position: absolute;
        top: 34vh;
        left: 54vw;
    }   
    
    .buttonsCollection .operator button#iplus { 
        position: absolute;
        height: 13vh;
        top: 77vh;
        right: 20vw;
    }
    
    .buttonsCollection .operator button#imoins { 
        position: absolute;
        top: 66vh; 
        right: 20vw;
    }
    
    .buttonsCollection .operator button#imultiplie { 
        position: absolute;
        top: 50vh; 
        right: 20vw;
    }
    
    .buttonsCollection .operator button#idivise { 
        position: absolute;
        top: 34vh; 
        right: 20vw;
    }
    
    .buttonsCollection .operator button#idecimal { 
        position: absolute;
        top: 80vh;
        left: 38vw;
    }
    
    .buttonsCollection .operator button#iresult { 
        position: absolute;
        top: 80vh;
        left: 54vw;
    }
    

}

@media only screen and (max-width: 750px) {
    
    .buttonsCollection button { 
        width: 60px;
        height: 60px;
    }

}

@media only screen and (max-width: 600px) {
    
    .buttonsCollection button { 
        width: 45px;
        height: 45px;
    }

    .buttonsCollection .operator button#iresult {
        font-size: 10px;
    }

}

@media only screen and (max-width: 480px) {
    
    .buttonsCollection button { 
        width: 38px;
        height: 38px;
    }

    .container .calculatrice #ecran { 
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    .container .calculatrice { 
        height: 70vh;
        width: 70vw;
    }

    .buttonsCollection .operator button#iplus { 
        position: absolute;
        top: 76vh;
        left: 66vw;
        height: 10vh;
    }

    .buttonsCollection .operator button#imoins { 
        position: absolute;
        left: 66vw;
    }

    .buttonsCollection .operator button#imultiplie { 
        position: absolute;
        top: 53vh;
        left: 66vw;
    }

    .buttonsCollection .operator button#idivise { 
        position: absolute;
        left: 66vw;
        top: 40vh;
    }

    .buttonsCollection .numbers button#i4 { 
        position: absolute;
        top: 53vh;
    }

    .buttonsCollection .numbers button#i5 { 
        position: absolute;
        top: 53vh;
    }

    .buttonsCollection .numbers button#i6 { 
        position: absolute;
        top: 53vh;
    }

    .buttonsCollection .numbers button#i7 { 
        position: absolute;
        top: 40vh;
    }

    .buttonsCollection .numbers button#i8 { 
        position: absolute;
        top: 40vh;
    }

    .buttonsCollection .numbers button#i9 { 
        position: absolute;
        top: 40vh;
    }
    


}





body{
    margin: 0;
    padding: 0;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 { 
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}

.container { 
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatrice { 
    height: 80vh;
    width: 25vw;
    border: 5px black solid;
    background-color: grey;
    border-radius: 25px;
}

#ecran { 
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 60px;
    font-family: monospace;
    letter-spacing: .5px;
    border: 5px solid black;
    margin: 50px;
    height: 8.5vh;
}


.buttonsCollection { 
    display: flex;
    width: 100%;

}

button { 
    height: 8vh;
    width: 4vw;
    margin: 10px;
    border-radius: 40%;
}



.numbers button#i0 { 
    position: relative;
    top: 49vh;
    left: .5vw;
}   

.numbers button#i1 { 
    position: absolute;
    top: 65vh;
    left: 38vw;
}   

.numbers button#i2 { 
    position: absolute;
    top: 65vh;
    left: 44vw;
}   

.numbers button#i3 { 
    position: absolute;
    top: 65vh;
    left: 50vw;
}   

.numbers button#i4 { 
    position: absolute;
    top: 50vh;
    left: 38vw;
}   

.numbers button#i5 { 
    position: absolute;
    top: 50vh;
    left: 44vw;
}   

.numbers button#i6 { 
    position: absolute;
    top: 50vh;
    left: 50vw;
}   

.numbers button#i7 { 
    position: absolute;
    top: 35vh;
    left: 38vw;
}   

.numbers button#i8 { 
    position: absolute;
    top: 35vh;
    left: 44vw;
}   

.numbers button#i9 { 
    position: absolute;
    top: 35vh;
    left: 50vw;
}   

 .operator button#iplus { 
    position: absolute;
    height: 13vh;
    top: 77vh;
    right: 38vw;
    border-radius: 15px;
}

 .operator button#imoins { 
    position: absolute;
    top: 65vh; 
    right: 38vw;
}

.operator button#imultiplie { 
    position: absolute;
    top: 50vh; 
    right: 38vw;
}

.operator button#idivise { 
    position: absolute;
    top: 35vh; 
    right: 38vw;
}

.operator button#idecimal { 
    position: absolute;
    top: 82vh; 
    left: 44vw;
}

.operator button#iresult { 
    position: absolute;
    top: 82vh;
    left: 50vw;
}
