body{
    margin: 0;
    padding: 0;
}


.calculette{
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(10,1fr);

    width: 20vw;
    height: 80vh;
    border: solid black 2px;
    margin: 10px;
    

    

}

.ecran{
    background-color: aqua;


    grid-column: 2/10;
    grid-row: 2/2;
}
.ecran p {
    text-align: center;
}

.btn p{
    font-size: 140%;
    font-weight: 600;
    text-align: center;
}

#i7{
    grid-column: 3/3;
    grid-row: 4/4;
}
#i8 {
    grid-column: 5/5;
    grid-row: 4/4;
}

#i9 {
    grid-column:7/7 ;
    grid-row:4/4 ;
}